@import url("https://fonts.googleapis.com/css?family=Acme|Ubuntu+Condensed");
@import "./navigation";

html,
body,
ul,
ol {
  margin: 0;
}

body {
  // font-family: "Acme", sans-serif;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 24px;
}

.main {
  display: flex;
  flex-direction: column;

  .content {
    max-height: calc(100vh - 50px);
    overflow: scroll;
  }

  .bottom-nav {
    height: 50px;
  }
}
