.match {
  width: 100vw;
  margin-bottom: 20px;
  max-height: 50px;
  .header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    img {
      height: 50px;
    }
    h3 {
      font-family: "Acme", sans-serif;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
}
